.quiz-container {
  padding: 20px;
  text-align: center;
  position: relative;
  background-image: url("../assets/quizbg.jpeg");
  height: 100vh;
  background-position: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.quiz-heading span {
  color: #fff;
}

.choices-container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  flex-wrap: wrap;
  padding: 50px 0px;
}
.quiz-container .quizParagraph {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}
.quiz-container h3 {
  font-size: 2.1rem;
  letter-spacing: 2px;
}

.quiz-container h2 {
  color: #007bff;
}

.choice-wrapper {
  width: 100%;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px; /* Adjust width */
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.ImageDesc {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ImageDesc img {
  width: 50%;
  height: 400px;
  border-radius: 8px;
}

.correctContainer {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.CorrectText {
  font-size: 20px;
  color: #000;
}

.correctContainer .ImageDesc p {
  color: #000;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
}

.nextButton {
  margin-bottom: 20px;
}

.main {
  width: 100%;
  height: 100vh;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coinsContainer h4 {
  font-size: 18px;
  color: #000;
  font-weight: 700;
}
.coinsContainer {
  background-color: #eeff00;
  border-radius: 20px;
  padding: 0px 10px;
}
